@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple Proof of Concept for Url Shortening.  Please click @Html.ActionLink("here", "Index", "UrlInfo") to access the shortner.</p>
</div>
